table {
	width: 100%;

	border-collapse: collapse;

}
th, td {
	text-align: left;
	padding: 8px;
	border-bottom: 2px solid #ddd;
	


}



#container {
	overflow-x: auto;
	position: fixed;
	top: 25%;
	left: 25%;
	width: 450px;
	


	overflow: auto;
}


